[submodule "arcor2_AREditor/Submodules/JSONObject"]
	path = arcor2_AREditor/Submodules/JSONObject
	url = https://github.com/mtschoen/JSONObject.git
[submodule "arcor2_AREditor/Submodules/MixedRealityToolkit-Unity"]
	path = arcor2_AREditor/Submodules/MixedRealityToolkit-Unity
	url = https://github.com/microsoft/MixedRealityToolkit-Unity.git
	branch = mrtk_development
[submodule "arcor2_AREditor/Submodules/UnityDynamicPanels"]
	path = arcor2_AREditor/Submodules/UnityDynamicPanels
	url = https://github.com/yasirkula/UnityDynamicPanels
[submodule "arcor2_AREditor/Submodules/UnityRuntimeInspector"]
	path = arcor2_AREditor/Submodules/UnityRuntimeInspector
	url = https://github.com/yasirkula/UnityRuntimeInspector
[submodule "arcor2_AREditor/Submodules/Unity3DRuntimeTransformGizmo"]
	path = arcor2_AREditor/Submodules/Unity3DRuntimeTransformGizmo
	url = https://github.com/HiddenMonk/Unity3DRuntimeTransformGizmo.git
[submodule "arcor2_AREditor/Submodules/RosSharp"]
	path = arcor2_AREditor/Submodules/RosSharp
	url = https://github.com/siemens/ros-sharp
