[submodule "arcor2_AREditor/Submodules/JSONObject"]
	path = arcor2_AREditor/Submodules/JSONObject
	url = https://github.com/mtschoen/JSONObject.git
	ignore = dirty
[submodule "arcor2_AREditor/Submodules/UnityDynamicPanels"]
	path = arcor2_AREditor/Submodules/UnityDynamicPanels
	url = https://github.com/yasirkula/UnityDynamicPanels
	ignore = dirty
[submodule "arcor2_AREditor/Submodules/UnityRuntimeInspector"]
	path = arcor2_AREditor/Submodules/UnityRuntimeInspector
	url = https://github.com/yasirkula/UnityRuntimeInspector
	ignore = dirty
[submodule "arcor2_AREditor/Submodules/RosSharp"]
	path = arcor2_AREditor/Submodules/RosSharp
	url = https://github.com/xBambusekD/ros-sharp.git
	ignore = dirty
[submodule "arcor2_AREditor/Submodules/Simple-Side-Menu"]
	path = arcor2_AREditor/Submodules/Simple-Side-Menu
	url = https://github.com/Kapim/Simple-Side-Menu.git
[submodule "arcor2_AREditor/Submodules/NativeWebSocket"]
	path = arcor2_AREditor/Submodules/NativeWebSocket
	url = https://github.com/endel/NativeWebSocket.git
[submodule "arcor2_AREditor/Submodules/trilleon"]
	path = arcor2_AREditor/Submodules/trilleon
	url = https://github.com/Kapim/trilleon.git
[submodule "arcor2_AREditor/Submodules/off-screen-indicator"]
	path = arcor2_AREditor/Submodules/off-screen-indicator
	url = https://github.com/xBambusekD/off-screen-indicator.git
[submodule "arcor2_areditor_private"]
	path = arcor2_AREditor/Submodules/arcor2_areditor_private
	url = git@github.com:robofit/arcor2_areditor_private.git
