[submodule "arcor2_AREditor/Submodules/JSONObject"]
	path = arcor2_AREditor/Submodules/JSONObject
	url = https://github.com/mtschoen/JSONObject.git
	ignore = dirty
[submodule "arcor2_AREditor/Submodules/UnityDynamicPanels"]
	path = arcor2_AREditor/Submodules/UnityDynamicPanels
	url = https://github.com/yasirkula/UnityDynamicPanels
	ignore = dirty
[submodule "arcor2_AREditor/Submodules/UnityRuntimeInspector"]
	path = arcor2_AREditor/Submodules/UnityRuntimeInspector
	url = https://github.com/yasirkula/UnityRuntimeInspector
	ignore = dirty
[submodule "arcor2_AREditor/Submodules/Unity3DRuntimeTransformGizmo"]
	path = arcor2_AREditor/Submodules/Unity3DRuntimeTransformGizmo
	url = https://github.com/HiddenMonk/Unity3DRuntimeTransformGizmo.git
	ignore = dirty
[submodule "arcor2_AREditor/Submodules/usfb"]
	path = arcor2_AREditor/Submodules/usfb
	url = https://github.com/adrenak/usfb.git
	ignore = dirty
[submodule "arcor2_AREditor/Submodules/RosSharp"]
	path = arcor2_AREditor/Submodules/RosSharp
	url = https://github.com/xBambusekD/ros-sharp.git
	ignore = dirty
[submodule "arcor2_AREditor/Submodules/Simple-Side-Menu"]
	path = arcor2_AREditor/Submodules/Simple-Side-Menu
	url = https://github.com/Kapim/Simple-Side-Menu.git
[submodule "arcor2_AREditor/Submodules/NativeWebSocket"]
	path = arcor2_AREditor/Submodules/NativeWebSocket
	url = https://github.com/endel/NativeWebSocket.git
